/* ===================================================
----- Mobile First -----
=================================================== */

/* ----- GENERAL STYLES ----- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(245, 245, 245);
}

p {
	color: gray;
}

/* --- Images --- */
img {
	max-width: 100%;
}

/* --- Wrappers --- */
.wrapper {
	width: 90%;
	margin: 0 auto;
}

/* --- Flexbox --- */
.flex {
	display: flex;
}

/* ----- HEADER ----- */
header {
	/*text-align: center;*/
	padding: 1em 0;
}

.main-header,
.nav {
	display: flex;
	flex-direction: column;
}

.site-logo {
	align-self: center;
}

h1 {
	padding-bottom: 1em;
	text-transform: capitalize;
}

h2 {
	text-transform: uppercase;
	margin: 3em 0 2em 0;
	padding: 1em 0;
}

/* ----- NAVIGATION ----- */
.main-nav ul li {
	list-style-type: none;
	background-color: #fff;
	margin-bottom: 0.5em;
	padding: 1em 0;
	text-align: center;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	/*font-weight: bold;*/
}


/* --- PORTFOLIO Section --- */
#portfolio {
	background-color: #fff;
}






/* ===================================================
----- Tablet devices (tablets, 768px and up) -----
=================================================== */

@media screen and (min-width: 768px) {
	
	body {
		background: green;
	}

	/* ----- HEADER ----- */
	.main-header {
		/*justify-content: flex-end; */
	}

	/* ----- NAVIGATION ----- */
	.main-nav .nav {
		flex-direction: row;
		justify-content: space-around;
	}

	.main-nav ul li {
		background-color: inherit;
	}

}









/* ===================================================
----- Desktop screen (tablets, 1024px and up) -----
=================================================== */
	
@media screen and (min-width: 1024px) {
	
	body {
		background: lightblue;
	}

	.wrapper {
		max-width: 1200px;
	}
	
	/* ----- HEADER ----- */
	.main-header {
		flex-direction: row;
	}

	.site-logo {
		margin-right: auto;
	}

	/* ----- NAVIGATION ----- */
	.main-nav .nav {
		align-self: center;
	}

	.nav li {
		margin: 0 2em;
	}



}


















