/* ===================================================
----- Mobile First -----
=================================================== */

/* ----- GENERAL STYLES ----- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(245, 245, 245);
}


h1 {
	padding: 0.5em 0 1em;
	text-transform: capitalize;
}

h2 {
	text-transform: uppercase;
	padding: 2.5em 0;
}

h3 {
	font-size: 1.6em;
	margin: 1em 0;
}

h2,
h3,
p {
	text-align: center;
}

p {
	color: gray;
	font-size: 1.5em;
}



/* --- Images --- */
img {
	max-width: 100%;
}

/* --- Wrappers --- */
.wrapper {
	width: 90%;
	margin: 0 auto;
}

/* --- Flexbox --- */
.flex {
	display: flex;
}

/* ----- HEADER ----- */
header {
	padding: 1em 0;
}

.main-header,
.nav {
	display: flex;
	flex-direction: column;
}

.site-logo {
	align-self: center;
}

/* ----- NAVIGATION ----- */
.main-nav ul li {
	list-style-type: none;
	background-color: #fff;
	margin-bottom: 0.5em;
	padding: 1em 0;
	text-align: center;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}

/* --- PROFILE Section --- */
#profile {
	padding-bottom: 4em;
}

.profile-image {
	padding: 2em 3em;
	display: block;
	margin: 0 auto;
}

/* --- PORTFOLIO Section --- */
#portfolio {
	background-color: #fff;
	padding-bottom: 4em;
}

#portfolio p {
	margin: 1em 0 2em;
}

/* --- SKILLS Section --- */
#skills {
	/*background-color: rgba(51, 204, 204, 0.5);	*/
	background-color: lightblue;
	padding-bottom: 4em;	
}

#skills p {
	margin: 1em 0 2em;
}

/* --- CONTACT Section --- */
#contact {
	background-color: rgb(240, 240, 240);
	padding-bottom: 4em;
}

#contact p {
	margin-bottom: 1em;
}

span {
	font-weight: bold;
	padding-left: 10px;
}

/* --- FOOTER Section --- */
footer {
	border-top: 1px solid gray;
	width: 90%;
	margin: 0 auto;
}

footer h4 {
	padding: 2em 0;
	margin-right: auto;
	font-size: 1.250em;
}

footer div {
	align-self: center;
	font-weight: bold;
}

/* ===================================================
----- Tablet devices (tablets, 768px and up) -----
=================================================== */

@media screen and (min-width: 768px) {
	
	body {
		/*background: green;*/
	}

	/* ----- HEADER ----- */
	.main-header {
		/*justify-content: flex-end; */
	}

	/* ----- NAVIGATION ----- */
	.main-nav .nav {
		flex-direction: row;
		justify-content: space-around;
	}

	.main-nav ul li {
		background-color: inherit;
	}

}









/* ===================================================
----- Desktop screen (tablets, 1024px and up) -----
=================================================== */
	
@media screen and (min-width: 1024px) {
	
	body {
		/*background: lightblue;*/
	}

	.wrapper {
		max-width: 1200px;
	}
	
	/* ----- HEADER ----- */
	.main-header {
		flex-direction: row;
	}

	.site-logo {
		margin-right: auto;
	}

	/* ----- NAVIGATION ----- */
	.main-nav .nav {
		align-self: center;
	}

	.nav li {
		margin: 1em 2em 0;
	}



}


















